body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-gen {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-gen .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
}

.card-gen .card-body {
    padding: 2rem;
}

.form-gen {
    width: 100%;
}

.form-gen .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.s {
    position: relative;
}

.slogan-text-parent {
    font-family: "Titillium Web", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.slogan-text {

}

#l1-parent, #l2-parent, #l3-parent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#l1-parent {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 10%;
}

#l2-parent {
    position: absolute;
    top: 35%;
    left: 10%;
    height: 30%;
}

#l3-parent {
    position: absolute;
    top: 80%;
    left: 10%;
    height: 10%;
}

#l4-parent {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.6);
    line-height: 1;
    padding: 2px;
    display: flex;
    align-items: center;
}

#l1, #l2, #l3 {
    text-align: center;
    line-height: 1em;
    font-size: 10em;
    margin-top: auto;
    margin-bottom: auto;
}

#l4 {
    text-align: left;
    font-size: small;
    color: #00651a;
}